<script>
    window.dataLayer = window.dataLayer || []
    function gtag() { dataLayer.push(arguments) }

    /* Set up integration and send page view */
    gtag("js", new Date())
    gtag("config", "{{ config.extra.analytics.measurement_id }}")

    /* Register virtual event handlers */
    document.addEventListener("DOMContentLoaded", function() {

      /* Send page view on location change */
      if (typeof location$ !== "undefined")
        location$.subscribe(function(url) {
          gtag("config", "{{ config.extra.analytics.measurement_id }}", {
            page_path: url.pathname
          })
        })
    })
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.analytics.measurement_id }}">
  </script>