{% macro hamburgerButton(buttonId = "menu-toggle") %}
  <button id="{{ buttonId }}" class="hamburger-activate clear-btn" aria-expanded="false" type="button">
    <svg viewBox="0 0 100 100" >
        <rect y="10" width="100" height="20" rx="8"></rect>
        <rect y="40" width="100" height="20" rx="8"></rect>
        <rect y="70" width="100" height="20" rx="8"></rect>
    </svg>
  </button>
{% endmacro %}