{% from "widgets/svg-icons.njk" import rocketshipIcon, lightBulbIcon, craneIcon, toolPanelIcon, personReadingIcon %}
<div id="home-tiles">
    {% linkTile "/get-started/", "home-tile" %}
      {{ rocketshipIcon() }}
      <div class="text-wrapper">
        <h2>Get Started</h2>
        <p>Install Holochain and create an app</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/concepts/1_the_basics/", "home-tile" %}
      {{ lightBulbIcon() }}
      <div class="text-wrapper">
        <h2>Core Concepts</h2>
        <p>Introducing Holochain basics</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/build/", "home-tile" %}
      {{ craneIcon() }}
      <div class="text-wrapper">
        <h2>Build Guide</h2>
        <p>Learn how to write Holochain applications</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/resources/", "home-tile" %}
      {{ toolPanelIcon() }}
      <div class="text-wrapper">
        <h2>Resources</h2>
        <p>Howtos, references, examples, and more</p>
      </div>
    {% endlinkTile %}

    {% linkTile "https://discord.gg/MwPvM4Vffg", "home-tile" %}
      {{ personReadingIcon() }}
      <div class="text-wrapper">
        <h2>Discord Community</h2>
        <p>Discuss Holochain</p>
      </div>
    {% endlinkTile %}
</div>