{% from "widgets/svg-icons.njk" import rocketshipIcon, craneIcon, toolPanelIcon, personReadingIcon %}
<div id="home-tiles">
    {% linkTile "/get-started/", "home-tile" %}
      {{ rocketshipIcon() }}
      <div class="text-wrapper">
        <h2>Get Started</h2>
        <p>Install Holochain</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/concepts/1_the_basics/", "home-tile" %}
      {{ craneIcon() }}
      <div class="text-wrapper">
        <h2>Core Concepts</h2>
        <p>Introducing Holochain basics</p>
      </div>
    {% endlinkTile %}
    
    {% linkTile "/references/", "home-tile" %}
      {{ toolPanelIcon() }}
      <div class="text-wrapper">
        <h2>Resources & Docs</h2>
        <p>Advanced tips and more</p>
      </div>
    {% endlinkTile %}

    {% linkTile "https://discord.gg/MwPvM4Vffg", "home-tile" %}
      {{ personReadingIcon() }}
      <div class="text-wrapper">
        <h2>Discord Community</h2>
        <p>Discuss Holochain</p>
      </div>
    {% endlinkTile %}
</div>