<!doctype html>
<html lang="en">
  {% include "head.njk" %}

  <body class="{{ pageStyleId }}">
    {% include "header.njk" %}

    {% block abovePageWrap %}{% endblock %}

    <div id="page-content-wrap" class="content-container">
    {{ content | safe }}
    </div>

    {% block belowPageWrap %}{% endblock %}
    
    {% include "footer.njk" %}
    {% include "templates.njk" %}
  </body>
</html>