<!doctype html>
<html lang="en">
  {% include "head.njk" %}

  <body class="{{ pageStyleId }}">
    {% include "header.njk" %}
    {% renderlayoutblock "abovePageWrap" %}{% endrenderlayoutblock %}
    <div id="page-content-wrap" class="content-container">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
    {% renderlayoutblock "belowPageWrap" %}{% endrenderlayoutblock %}
    
    {% include "footer.njk" %}
    {% include "templates.njk" %}
    {% include "widgets/unsupported-brower-warning.njk" %}
  </body>
</html>