---
layout: base-layout.njk 
---
<div class="default-page-layout">
  <div class="main-area">
  {{ content | safe }}
  </div>
  <div class="side-bar">
  <div class="side-bar-inner">
  {% renderlayoutblock 'sideBar' %}
    Nav Stuff over here
  {% endrenderlayoutblock %}
  </div>
  </div>
</div>