---
layout: base-layout.njk 
---
<div class="default-page-layout">
  <div class="main-area">
  {{ content | safe }}
  </div>
  <div class="left-side-bar">
  {% renderlayoutblock 'leftSideBar' %}
    Nav Stuff over here
  {% endrenderlayoutblock %}
  </div>
</div>