{% from "widgets/svg-icons.njk" import discordMarkIcon, homeIcon, githubLogo %}
{% from "widgets/assorted-bits.njk" import hamburgerButton %}
<div id="page-header">
  <div class="content-container">    
    <nav id="top-nav">
      <a href="https://holochain.org" id="home-link" target="_blank">
        <img src="/assets/img/holochain-logo-white.png" alt="Holochain.org">
      </a>

      <div id="other-nav">
        <a href="/">{{ homeIcon() }}</a>
        <a href="https://discord.gg/k55DS5dmPH">{{ discordMarkIcon() }}</a>
        <a href="https://github.com/holochain/holochain" alt="Holochain GitHub">{{ githubLogo() }}</a>
      </div>

      {{ hamburgerButton() }}
    </nav>

  </div>
</div>