<div id="page-header">
  <div class="content-container">    
    <nav id="top-nav">
      <a href="https://holochain.org" id="home-link" target="_blank">
        <img src="/assets/img/holochain-log-small.png" alt="">
        Holochain.org
      </a>

      <div id="other-nav">
        <a href="/">Developers</a>
        <a href="https://discord.gg/k55DS5dmPH">Discord</a>
        <a href="https://blog.holochain.org">Blog</a>
      </div>
    </nav>

  </div>
</div>