<div id="page-header">
  <div id="page-header-top">
    <a href="https://holochain.org" id="home-link" target="_blank">
      <img src="/assets/img/holochain-log-small.png" alt="">
      Holochain.org
    </a>

    <div id="other-nav">
      <a href="/">Developers</a>
    </div>
  </div>

  <h1>{{ title }}</h1>
</div>