<div id="home-tiles">
		<a href="install" class="tile-hero" style="background-image:url(/assets/img/tile-1.jpg);">
			<h2>Install Holochain</h2>
			<p>Quick start guide</p>
		</a>
		<a href="concepts" class="tile-hero" style="background-image:url(/assets/img/tile-2.jpg);">
			<h2>Core Concepts</h2>
			<p>Introducing Holochain basics</p>
		</a>
		<a href="happ-setup" class="tile-hero" style="background-image:url(/assets/img/tile-3.jpg);">
			<h2>Project Structure</h2>
			<p>Understand Holochain App Code</p>
		</a>
	<!-- <div class="h-tile tile-hero">
		<a href="learning" style="background-image:url(img/tile-4.jpg);">
			<h2>Learning</h2>
			<p>Holochain Learning Resources</p>
		</a>
	</div> -->
		<a href="https://discord.gg/MwPvM4Vffg" class="tile-hero" style="background-image:url(/assets/img/tile-5.jpg);">
			<h2>Chat</h2>
			<p>Discuss Holochain on Discord</p>
		</a>
	<!-- <div class="h-tile tile-hero">
		<a href="https://forum.holochain.org" style="background-image:url(img/tile-6.jpg);">
			<h2>Forum</h2>
			<p>Join the Holochain forum</p>
		</a>
	</div> -->
</div>