<div id="home-tiles">
    {% linkTile "install" %}
      <h2>Install Holochain</h2>
      <p>Quick start guide</p>
    {% endlinkTile %}
    {% linkTile "concepts", "blue-purple-top" %}
      <h2>Core Concepts</h2>
      <p>Introducing Holochain basics</p>
    {% endlinkTile %}
    {% linkTile "happ-setup", "blue-purple-top" %}
      <h2>Project Structure</h2>
      <p>Understand Holochain App Code</p>
    {% endlinkTile %}
  <!-- <div class="h-tile tile-hero">
    <a href="learning" style="background-image:url(img/tile-4.jpg);">
      <h2>Learning</h2>
      <p>Holochain Learning Resources</p>
    </a>
  </div> -->
    {% linkTile "https://discord.gg/MwPvM4Vffg" %}
      <h2>Chat</h2>
      <p>Discuss Holochain on Discord</p>
    {% endlinkTile %}
  <!-- <div class="h-tile tile-hero">
    <a href="https://forum.holochain.org" style="background-image:url(img/tile-6.jpg);">
      <h2>Forum</h2>
      <p>Join the Holochain forum</p>
    </a>
  </div> -->
</div>