@{% macro mainNavTree(mainNav) %}
<nav id="main-nav">
  <ul class="nav-top-level">
    {% for topLink in mainNav.links %}
      <li class="selected">
        <a href="{{ topLink.url }}">{{ topLink.title }}</a>
        {% if topLink.hasChildren %}
          <ul class="nav-child-level">
            {% for childLink in topLink.children %}
            <li><a href="{{ childLink.url }}">{{ childLink.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}