$cl-sidebar-bg: #f7f7f7;

&.default-page-type {
  background-color: white;
  display: grid;
  
  //Mobile set up default
  grid-template-columns: 1fr;
  grid-template-rows: [r1-start] min-content [r1-end r2-start] 44px [r2-end r3-start] 1fr [r3-end r4-start] min-content [r4-end];
  grid-template-areas: 
    "header"
    "header"
    "mainArea"
    "footer";
  
  .main-area {
    grid-area: mainArea;
    background-color: white;
    padding: 0 $sz-mobile-hor-padding 20px;
  }

  .side-bar {
    grid-area: mainArea;
    z-index: -1;
    background-color: $cl-sidebar-bg;
    margin-bottom: 0;
    margin-top: 0;
    height: 100%;

    @include navBarList;

    &.show {
      z-index: 1;
    }
  }

  .header-full-bg {
    display: none;
    background: $header-gradiant;
    grid-area: r2-start / vp-left / r2-end / vp-right;
    z-index: -1;
  }

  .footer-full-bg {
    display: none;
    background-color: black;
    grid-area: r4-start / vp-left / r4-end / vp-right;
  }

  .sidebar-right-bg {
    display: none;
    background-color: $cl-sidebar-bg;
    grid-area: r3-start / sidebar-end / r3-end / vp-right;
    z-index: -1;
  }

  @include mq-full {
    grid-template-columns: [vp-left] 1fr minmax(0, 1000px) [sidebar-end] 420px [sidebar-end] 1fr [vp-right];
    grid-template-areas: 
      "... header header ..."
      "... header header ..."
      "... mainArea sideBar ..."
      "... footer footer ...";
    column-gap: 50px;
    
    .main-area {
      background-color: transparent;
      padding: 0 0 30px $sz-full-hor-padding;
    }

    .side-bar {
      grid-area: sideBar;
      z-index: unset;
    }

    .header-full-bg, .footer-full-bg, .sidebar-right-bg {
      display: block;
    }
  }

}