$cl-sidebar-bg: #f7f7f7;

&.default-page-type {
  background-color: white;
  display: grid;
  
  //Mobile set up default
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: 
    "header header"
    "mainArea mainArea"
    "footer footer";
  
  .main-area {
    grid-area: mainArea;
    background-color: white;
    padding: 0 $sz-mobile-hor-padding 20px;
  }

  .side-bar {
    grid-area: mainArea;
    z-index: -1;
    background-color: $cl-sidebar-bg;
    margin-bottom: 0;
    margin-top: 0;
    height: 100%;

    @include navBarList;

    &.show {
      z-index: 1;
    }
  }

  @include mq-full {
    grid-template-columns: minmax(0, 1fr) 420px;
    grid-template-areas: 
      "header header"
      "mainArea sideBar"
      "footer footer";
    column-gap: 50px;
    
    .main-area {
      background-color: transparent;
      padding: 0 0 30px $sz-full-hor-padding;
    }

    .side-bar {
      grid-area: sideBar;
      z-index: unset;
    }
  }

}