<div class="header-container">
<div class="h-banner">
    <div class="h-pad">
        <div class="h-wrap">
            <ul class="h-nav">
                <li class="tab-home h-hide"><a href="https://holochain.org/" onclick="window.open(this.href,'_self'); return false;"><img src="https://forum.holochain.org/uploads/default/original/1X/79f6577e3c8102e1f0caf8d2f43d4fcf472a3e34.png"> Holochain.org</a></li>
                <li class="tab-developers"><a href="https://developer.holochain.org/" onclick="window.open(this.href,'_self'); return false;">Developers</a></li>
                <li class="tab-forum"><a href="https://forum.holochain.org/" onclick="window.open(this.href,'_self'); return false;">Forum</a></li>
                <li class="tab-blog"><a href="https://blog.holochain.org/" onclick="window.open(this.href,'_self'); return false;">Blog</a></li>
                <li class="tab-events"><a href="https://forum.holochain.org/c/events/22" onclick="window.open(this.href,'_self'); return false;">Events</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<!-- Application header -->
<header class="md-header" data-md-component="header">

  <!-- Top-level navigation -->
  <nav class="md-header-nav md-grid">
    <div class="md-flex">

      <!-- Link to home -->
      <div class="md-flex__cell md-flex__cell--shrink">
        <a href="{{ config.site_url | default(nav.homepage.url, true) | url }}"
            title="{{ config.site_name }}"
            class="md-header-nav__button md-logo">
          {% if config.theme.logo.icon %}
            <i class="md-icon">{{ config.theme.logo.icon }}</i>
          {% else %}
            <img src="{{ config.theme.logo | url }}" width="24" height="24" />
          {% endif %}
        </a>
      </div>

      <!-- Button to toggle drawer -->
      <div class="md-flex__cell md-flex__cell--shrink">
        <label class="md-icon md-icon--menu md-header-nav__button"
            for="__drawer"></label>
      </div>

      <!-- Header title -->
      <div class="md-flex__cell md-flex__cell--stretch">
        <div class="md-flex__ellipsis md-header-nav__title"
            data-md-component="title">
          {% if config.site_name == page.title %}
            {{ config.site_name }}
          {% else %}
            <span class="md-header-nav__topic">
              {{ config.site_name }} <span class="version"><a href="/changelog" title="Changelog">v0.5.5</a></span>
            </span>
            <span class="md-header-nav__topic">
              {% if page and page.meta and page.meta.title %}
                {{ page.meta.title }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </span>
          {% endif %}
        </div>
      </div>

      <!-- Button to open search dialogue -->
      <div class="md-flex__cell md-flex__cell--shrink">
        {% if "search" in config["plugins"] %}
          <label class="md-icon md-icon--search md-header-nav__button"
              for="__search"></label>

          <!-- Search interface -->
          {% include "partials/search.html" %}
        {% endif %}
      </div>

      <!-- Repository containing source -->
      {% if config.repo_url %}
        <div class="md-flex__cell md-flex__cell--shrink">
          <div class="md-header-nav__source">
            {% include "partials/source.html" %}
          </div>
        </div>
      {% endif %}
    </div>
  </nav>
</header>

<script>

// Concepts Class

if (document.location.pathname.indexOf("/concepts/") == 0) {
  document.body.className = "page-concepts";
}

</script>