<div class="header-container">
<div class="h-banner">
    <div class="h-pad">
        <div class="h-wrap">
            <ul class="h-nav">
                <li><a href="/"><img src="https://forum.holochain.org/uploads/default/original/1X/79f6577e3c8102e1f0caf8d2f43d4fcf472a3e34.png"></a></li>
                <li class="tab-home h-hide"><a href="https://holochain.org" onclick="window.open(this.href,'_self'); return false;">Holochain.org</a></li>
                <li class="tab-developers"><a href="https://developer.holochain.org/" onclick="window.open(this.href,'_self'); return false;">Developers</a></li>
                <li class="tab-forum"><a href="https://forum.holochain.org/" onclick="window.open(this.href,'_self'); return false;">Forum</a></li>
                <li class="tab-blog"><a href="https://blog.holochain.org/" onclick="window.open(this.href,'_self'); return false;">Blog</a></li>
            </ul>
            <ul class="h-icons">
                <li><a href="https://blog.holochain.org/#subscribe" target="_blank">Subscribe</a></li>
                <li><a href="https://github.com/holochain/holochain-rust/" target="_blank" title="GitHub">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
                </a></li>
                <li><a href="https://twitter.com/holochain" target="_blank" title="Twitter">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/></svg>
                </a></li>
                <li><a href="https://www.facebook.com/holochain.design/" target="_blank" title="Facebook">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"/></svg>
                </a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<!-- Application header -->
<header class="md-header" data-md-component="header">

  <!-- Top-level navigation -->
  <nav class="md-header-nav md-grid">
    <div class="md-flex">

      <!-- Link to home -->
      <div class="md-flex__cell md-flex__cell--shrink">
        <a href="{{ config.site_url | default(nav.homepage.url, true) | url }}"
            title="{{ config.site_name }}"
            class="md-header-nav__button md-logo">
          {% if config.theme.logo.icon %}
            <i class="md-icon">{{ config.theme.logo.icon }}</i>
          {% else %}
            <img src="{{ config.theme.logo | url }}" width="24" height="24" />
          {% endif %}
        </a>
      </div>

      <!-- Button to toggle drawer -->
      <div class="md-flex__cell md-flex__cell--shrink">
        <label class="md-icon md-icon--menu md-header-nav__button"
            for="__drawer"></label>
      </div>

      <!-- Header title -->
      <div class="md-flex__cell md-flex__cell--stretch">
        <div class="md-flex__ellipsis md-header-nav__title"
            data-md-component="title">
          {% if config.site_name == page.title %}
            {{ config.site_name }}
          {% else %}
            <span class="md-header-nav__topic">
              {{ config.site_name }} <span class="version"><a href="/docs/changelog" title="Changelog">v0.2.4</a></span>
            </span>
            <span class="md-header-nav__topic">
              {% if page and page.meta and page.meta.title %}
                {{ page.meta.title }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </span>
          {% endif %}
        </div>
      </div>

      <!-- Button to open search dialogue -->
      <div class="md-flex__cell md-flex__cell--shrink">
        {% if "search" in config["plugins"] %}
          <label class="md-icon md-icon--search md-header-nav__button"
              for="__search"></label>

          <!-- Search interface -->
          {% include "partials/search.html" %}
        {% endif %}
      </div>

      <!-- Repository containing source -->
      {% if config.repo_url %}
        <div class="md-flex__cell md-flex__cell--shrink">
          <div class="md-header-nav__source">
            {% include "partials/source.html" %}
          </div>
        </div>
      {% endif %}
    </div>
  </nav>
</header>

<script>

// Concepts Class

if (document.location.pathname.indexOf("/docs/concepts/") == 0) {
  document.body.className = "page-concepts";
}

</script>
