<!doctype html>
<html lang="en">
  {% include "parts/head.njk" %}

  <body class="{{ pageStyleId }}">
    {% include "parts/header.njk" %}
    {% renderlayoutblock "abovePageWrap" %}{% endrenderlayoutblock %}
    <div id="page-content-wrap" class="content-container">
      {{ content | safe }}
    </div>
    {% renderlayoutblock "belowPageWrap" %}{% endrenderlayoutblock %}
    
    {% include "parts/footer.njk" %}
    {% include "parts/templates.njk" %}
    {% include "widgets/unsupported-brower-warning.njk" %}
  </body>
</html>