<!doctype html>
<html lang="en">
  {% include "parts/head.njk" %}

  <body class="{{ pageStyleId }} {{ layoutId }}">
    {% include "parts/header.njk" %}
    {% renderlayoutblock "abovePageWrap" %}{% endrenderlayoutblock %}

    {{ content | safe }}
    
    {% renderlayoutblock "belowPageWrap" %}{% endrenderlayoutblock %}
    
    {% include "parts/footer.njk" %}
    {% include "parts/templates.njk" %}
    {% include "widgets/unsupported-brower-warning.njk" %}
  </body>
</html>