---
layout: base-layout.njk
layoutId: default-page-type
surpressH1InLayout: false
---
{% from "widgets/navigation.njk" import mainNavTree, tocBlock %}

<div class="main-area">
  {% if not surpressH1InLayout %}
  <h1>{{ title }}</h1>
  {% endif %}
  {{ content | safe }}
</div>
<div class="side-bar">
  {{ mainNavTree(navigation.mainNav, page) }}
  {{ tocBlock(tocData) }} 
</div>

<div class="header-full-bg"></div>
<div class="footer-full-bg"></div>
<div class="sidebar-right-bg"></div>