---
layout: base-layout.njk
layoutId: default-page-type
---
{% from "widgets/navigation.njk" import mainNavTree %}

<div class="main-area">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</div>
<div class="side-bar">
  {{ mainNavTree(navigation.mainNav, page) }}
</div>