{% from "widgets/svg-icons.njk" import discordMarkIcon, homeIcon, githubLogo %}
{% from "widgets/assorted-bits.njk" import hamburgerButton %}
{% from "widgets/navigation.njk" import headerNavList %}
<header id="page-header">
  <div id="page-header-top" class="content-container">
    <div id="logo-space">
      <a href="https://holochain.org" id="home-link" target="_blank">
        <img src="/assets/img/holochain-logo-black-1300.png" alt="Holochain.org">
      </a>
      <a href="/">Developer Portal</a>
    </div>
    
    {{ headerNavList(navigation.headerNav, page) }}
  </div>

  <div id="page-header-bar">
    <div class="content-container">

      <nav id="other-nav">
        <a href="https://discord.gg/k55DS5dmPH">{{ discordMarkIcon() }}</a>
        <a href="https://github.com/holochain/holochain" alt="Holochain GitHub">{{ githubLogo() }}</a>
      </nav>

      {{ hamburgerButton() }}
    </div>
  </div>
</header>