{% extends "base.html" %}

<!-- Content -->
{% block content %}

<!-- Edit button, if URL was defined -->
{% if page.edit_url %}
  <a href="https://github.com/holochain/docs-pages/issues/new?title=Suggesting Edit: {{ page.title }}&body=Page URL: http://developer.holochain.org/{{ page.url }}"
      title="Suggest an Edit"
      class="md-icon md-content__icon">&#xE3C9;<!-- edit --></a>
{% endif %}

<!--
  Hack: check whether the content contains a h1 headline. If it
  doesn't, the page title (or respectively site name) is used
  as the main headline.
-->
{% if not "\x3ch1" in page.content %}
  <h1>{{ page.title | default(config.site_name, true)}}</h1>
{% endif %}

<!-- Content -->
{{ page.content }}

<!-- removing by commenting because if I remove it completely it's annoying to walk back through git history to find it again
<div class="h-feedback-container">
  <div class="h-feedback">
  </div>
</div>
-->

{% endblock %}

<!-- Analytic scripts -->
{% block analytics %}
  {% if config.google_analytics %}
    {% include "partials/integrations/analytics.html" %}
  {% endif %}

  {% if config.extra.google_analytics_v4 %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WGCFJ46');</script>
    <!-- End Google Tag Manager -->
  {% endif %}
{% endblock %}

<!-- Webfonts -->
{% block fonts %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
<link href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet">
{% endblock %}