{% extends "base.html" %}

<!-- Content -->
{% block content %}

<!-- Edit button, if URL was defined -->
{% if page.edit_url %}
  <a href="https://github.com/holochain/docs-pages/issues/new?title=Suggesting Edit: {{ page.title }}&body=Page URL: http://developer.holochain.org/{{ page.url }}"
      title="Suggest an Edit"
      class="md-icon md-content__icon">&#xE3C9;<!-- edit --></a>
{% endif %}

<!--
  Hack: check whether the content contains a h1 headline. If it
  doesn't, the page title (or respectively site name) is used
  as the main headline.
-->
{% if not "\x3ch1" in page.content %}
  <h1>{{ page.title | default(config.site_name, true)}}</h1>
{% endif %}

<!-- Content -->
{{ page.content }}

<!-- removing by commenting because if I remove it completely it's annoying to walk back through git history to find it again
<div class="h-feedback-container">
  <div class="h-feedback">
  </div>
</div>
-->

{% endblock %}

<!-- Analytic scripts -->
{% block analytics %}
  {% if config.google_analytics %}
    {% include "partials/integrations/analytics.html" %}
  {% endif %}

  {% if config.extra.google_analytics_v4 %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics_v4 }}"></script>
  <script>
      window.dataLayer = window.dataLayer || []
      function gtag() { dataLayer.push(arguments) }

      /* Set up integration and send page view */
      gtag("js", new Date())
      gtag("config", "{{ config.extra.google_analytics_v4 }}")
    </script>
  {% endif %}

<script type="text/javascript">
window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
heap.load("1266209723");
</script>

{% endblock %}

<!-- Webfonts -->
{% block fonts %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
<link href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet">
{% endblock %}