<head>
  {% include "../widgets/analytics.njk" %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <style>
    // Protect against initial flash of unstyled content
    img {
      width: 24px;
    }
  </style>

  {% if site.environment == "production" %}
  <link rel="stylesheet" href="/styles/site.min.css" />
  {% else %}
  <link rel="stylesheet" href="/styles/site.css" />
  {% endif %}
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link href="/styles/highlight.js-atom-one-light.min.css" rel="stylesheet">

  <script defer="true" src="/scripts/index.min.js"></script>
  <script src="https://dashboard.letmeexplain.ai/embed/lme_chatbot_widget.js"></script>
  <script src="/assets/js/enable_lme_chatbot.js"></script>
</head>
