{% from "widgets/svg-icons.njk" import discordMarkIcon, homeIcon, githubLogo, mdiSearch %}
{% from "widgets/assorted-bits.njk" import hamburgerButton %}
{% from "widgets/navigation.njk" import headerNavList %}
<header id="page-header">
  <div id="page-header-top">
    <div id="logo-space">
      <a href="https://www.holochain.org" id="home-link" target="_blank">
      <picture>
        <source srcset="/assets/img/holochain-logo-black-1300.png" media="(min-width: 900px)">
        <img src="/assets/img/holochain-logo-small.png" alt="Holochain.org">
      </picture>
      </a>
      <a href="/">Developer Portal</a>
    </div>

    {{ headerNavList(navigation.headerNav, page) }}
    {{ hamburgerButton() }}
  </div>

  <div id="page-header-bar">
    <nav id="other-nav">
      <a href="/search" title="Search the site">{{ mdiSearch() }}</a>
      <a href="https://discord.com/invite/k55DS5dmPH" target="_blank" title="Holochain on Discord">{{ discordMarkIcon() }}</a>
      <a href="https://github.com/holochain/holochain" target="_blank" title="Holochain GitHub">{{ githubLogo() }}</a>
    </nav>
  </div>
</header>