img {
  width: unset;
  max-width: 100%;
}


@mixin btn-base($color: currentColor) {
  padding: 8rem 16rem;
  border: 2px solid currentColor;
  border-radius: 5px;
  color: $color;
  text-decoration: none;

  &:hover {
    background-color: $cl-brand-green;
  }
}

// Applicable to an a or button element
.btn {
  @include btn-base;
}

a {
  color: $cl-main-text;

  svg {
    height: 100%;
  }
}

button {
  &.clear-btn {
    border: none;
    background: none;
  }
}