
// Applicable to an a or button element
.btn {
  padding: 8rem 16rem;
  border: 2px solid currentColor;
  border-radius: 5px;
  color: currentColor;
  text-decoration: none;
}

a {
  color: $cl-main-text;

  svg {
    height: 100%;
  }
}

button {
  &.clear-btn {
    border: none;
    background: none;
  }
}