.intro {
  font-size: $fs-even-bigger;
  border-left: 4px solid $cl-gray;
  padding-left: 1em;
  font-weight: 500;
  line-height: 1.55;
}

.orientation, .storystep {
  padding: 1.2em;
  background: $cl-lightest-gray;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.orientation {
  margin: 1em 0;
}

.storystep {
  margin: 2em 0;
}