@font-face {
  font-family: "URW Form";
  font-weight: 700;
  font-style: normal;
  src: url('/assets/webFonts/URWFormBold/font.woff2') format('woff2'),
        url('/assets/webFonts/URWFormBold/font.woff') format('woff');
}
@font-face {
  font-family: "URW Form";
  font-weight: 700;
  font-style: italic;
  src: url('/assets/webFonts/URWFormBoldItalic/font.woff2') format('woff2'),
        url('/assets/webFonts/URWFormBoldItalic/font.woff') format('woff');
}
@font-face {
  font-family: "URW Form";
  font-weight: 800;
  font-style: normal;
  src: url('/assets/webFonts/URWFormExtraBold/font.woff2') format('woff2'),
        url('/assets/webFonts/URWFormExtraBold/font.woff') format('woff');
}
@font-face {
  font-family: "URW Form";
  font-weight: 800;
  font-style: italic;
  src: url('/assets/webFonts/URWFormExtraBoldItalic/font.woff2') format('woff2'),
      url('/assets/webFonts/URWFormExtraBoldItalic/font.woff') format('woff');
}


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// global font sizes vars
$fs-extra-smaller: 13px;
$fs-smaller: 14px;
$fs-primary: 18px;
$fs-bigger: 20px;
$fs-even-bigger: 24px;

// local font sizes
$fs-footer-col-header: 14px;
$fs-footer-smaller: $fs-smaller;

html {
  font-size: 62.5%;

  body {
    font-family: Mulish;
    font-size: $fs-primary;
  }

  h1, h2, h3, h4 {
    font-family: 'URW Form';
    font-weight: 800;
  }
}
