$footer-nav-img-height: 14rem;
$footer-nav-header-to-links: 14rem;

#page-footer {
  grid-area: footer;
  padding: 50rem $sz-mobile-hor-padding 40rem;
  background: $cl-footer-bg;
  color: white;
  z-index: 1;

  nav {
    font-size: $fs-footer-smaller;

    ul {
      padding: 0;
      margin: 0;
      
      li {
        list-style: none;
        
        a {
          color: white;
          text-decoration: none;

          &.btn {
            //TODO: Create a standard reverse-btn 
            @include btn-base(black);
            background-color: white;
            margin-top: 32px;
            border-color: black;
      
            &:hover {
              color: white;
            }
          }

          
          
          //@include offsiteLinkIcon;
        }
      }

      &.icon-list {
        display: flex;
        gap: $sp-icon-list-gap;

        li {

          a {
            height: $footer-nav-img-height;
            display: block;
    
            svg {
              height: $footer-nav-img-height;
            }
          }
        }
      }
    }

    #page-footer-columns {
      display: flex;
      justify-content: space-between;
      color: white;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 100px;
      
      .nav-column {

        h2 {
          color: $cl-other-green;
          font-size: $fs-footer-col-header;
          margin-bottom: $footer-nav-header-to-links;
          margin-top: 0;
        }
  
        &.newsletter {
          max-width: 200px;
        }
      }
    }

    hr {
      margin: 0 auto;
      width: calc(100% - 4px);
      background-color: rgba($cl-gray, 0.5);
      color: transparent;
    }

    #page-footer-bottom {
      margin-top: 16px;

      > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;

        > li {
          a.hc-logo-link {
            img {
              height: 20rem;
            }
          }

          &:last-child {
            margin-top: 20px;
          }
        }
      }

      @include mq-full {
        > ul {
          > li {
            a.hc-logo-link {
              margin-right: 30px;
            }

            &:last-child {
              margin-top: 0;
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  @include mq-full {
    padding: 50rem $sz-full-hor-padding 40rem;
  }
}