$footer-nav-img-height: 14rem;
$footer-nav-header-to-links: 14rem;

#page-footer {
  grid-area: footer;
  padding: 50rem $sz-mobile-hor-padding 40rem;
  background: $cl-footer-bg;
  color: white;
  z-index: 1;

  nav {
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
    gap: 20px;

    .nav-column {
      h2 {
        font-size: $fs-footer-col-header;
        margin-bottom: $footer-nav-header-to-links;
        margin-top: 0;
      }

      ul {
        padding: 0;
        margin: 0;
        
        li {
          list-style: none;
          
          a {
            color: white;
            font-size: $fs-footer-smaller;
            text-decoration: none;
  
            &.hc-logo-link {
              display: inline-block;
              width: 130rem;
              // Unclear why this 4 pixel fudge is needed. Figure out
              margin-bottom: $footer-nav-header-to-links - 4;
              
              img {
                // max-width: 100%;
                height: 20rem;
              }
            }
            
            @include offsiteLinkIcon;
          }
        }

        &.icon-list {
          display: flex;
          gap: $sp-icon-list-gap;
          margin-top: $sp-icon-list-gap;

          li {

            a {
              height: $footer-nav-img-height;
      
              svg {
                height: $footer-nav-img-height;
              }
            }
          }
        }
      }

      &.about-column {
        a {
          font-weight: 500;
        }
      }
    }
  }

  @include mq-full {
    padding: 50rem $sz-full-hor-padding 40rem;
  }
}