$top-nav-img-height: 24rem;
$cl-header-bar-primary: black;

header#page-header {
  grid-area: header;
  background-color: white;
  
  #page-header-top {
    display: flex;
    justify-content: space-between;
    font-size: 18rem;
    padding: 24px 0 20px;

    a {
      text-decoration: none;
    }

    #logo-space {
      display: flex;
      flex-direction: column;

      #home-link {
        img {
          height: $top-nav-img-height;
          padding-left: 2px;
        }
      }
    }

    #header-nav {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        display: flex;
        list-style-type: none;
        margin-bottom: -17px;

        li {
          margin-left: 24rem;
          font-weight: 400;
          padding-bottom: 6rem;
          border-bottom: 2px solid transparent;
          transition: border-bottom-color .25s;

          &[data-is-current-parent] {
            border-bottom-color: $cl-brand-purple;
          }
          
          &:hover {
            border-bottom-color: $cl-brand-green;
          }
        }
      }

      @include mq-mobile {
        display: none;
      }
    }

    @include hamburgerMenu();

    @include mq-full {
      padding: 24px $sz-full-margin 20px;
    }
  }

  #page-header-bar {
    background: $header-gradiant;
    padding: 10px $sz-full-margin;
    color: $cl-header-bar-primary;
    display: flex;
    justify-content: space-between;

    #other-nav {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        height: $top-nav-img-height;

        svg {
          height: $top-nav-img-height;
        }
      }
    }
  }
}