$top-nav-img-height: 30px;

#page-header {
  background: $header-gradiant;
  padding: 10px;
  color: white;

  #top-nav {
    display: flex;
    justify-content: space-between;

    a {
      color: white;
    }

    #home-link {      
      height: $top-nav-img-height;

      img {
        height: $top-nav-img-height;
      }
    }

    #other-nav {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        height: $top-nav-img-height;

        svg {
          height: $top-nav-img-height;
        }
      }
    }


  }
}