@mixin navBarList() {
  nav#main-nav {
    padding: 18px 34px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      // Default for all links in tree
      a {
        color: #5B5477;
        display: block;

        // Add a span so that we can use the border to indicate current page and 
        //   control the size of the indicator independent of the box size of the a tag
        span {
          display: inline-flex;
          align-items: flex-end;
          padding-left: 4px;
          border-left: 4px solid transparent;

          svg {
            margin: 0 0 6px 6px;
          }
        }
      }

      li {
        &[data-is-current-parent="true"] {
          > a {
            color: black;
            font-weight: 700;
          }
        }
        
        &[aria-current="page"] {
          > a {
            color: black;
            font-weight: 700;

            span {
              border-left-color: $cl-brand-green;
            }
          }
        }
      }

      &.nav-top-level {
        > li > a {
          padding: 8px 0;
          text-transform: uppercase;
        }

        ul.nav-child-level {
          display: none;

          a {
            padding: 3px 0 4px 12px;
          }
        }

        li[data-is-current-parent="true"] {
          ul.nav-child-level {
            display: block;
          }
        }
      }
    }
  }
}