$header-gradiant: linear-gradient(90deg,#4720e3,#345ede 32.81%,#0dddd3);

$main-text-color: black;

//font sizes vars
$footer-smaller-font-size: .65rem;
$extra-smaller-font-size: .6875rem;
$smaller-font-size: .75rem;
$primary-font-size: 1rem;
$bigger-font-size: 1.125rem;