//does not work with colors containing alpha
@function encodecolor($string) {
	@if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}

/* Code Fence styling */

pre button.copy-to-clipboard {
  display: none;
}

pre[class*="language-"] {
  display: flex;
  align-items: flex-start;
  background-color: $cl-gray;
  padding: .3em .5em;
  margin: .5em 0;
  overflow: auto;
  border-radius: .3em;
  line-height: 2;
  color: black;

  button.copy-to-clipboard {
    display: block;
    margin-left: auto;
    padding: 6px;
    border-radius: 0.5em;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: lighten($color: $cl-gray, $amount: 20);
    }

    &:active {
      background: $cl-gray;
    }
  }

  [class*="language-"] {
    color: black;
  }

  span.token, span.parameter, span.value{
    color: $cl-brand-purple;
  }

}

/* Inline code */
code {
	padding: .1em .15em;
	border-radius: .4em;
	white-space: normal;
  background-color: #d0d7d3;
  color: #2E9FD9;
  box-sizing: border-box;
  font-size: 90%;
}

/* Admonitions */
@mixin admonitionTitle($admonitionBg) {
  .admonition-title {
    //outline: black solid 1px;
    background-color: $admonitionBg;
    margin: 0 -9.6px;
    padding: 6.4px 9.6px 6.4px 32px;
    border-bottom: .8px solid rgba(68,138,255,.1);
    font-weight: 700;
  }
}

.admonition {
  outline: black solid 1px;
  margin: 25px 0;
  padding: 0 9.6px;
  border-radius: 1.6px;
  // font-size: 10px;
  overflow: auto;

  &.tip {
    @include admonitionTitle(rgba(0, 191, 165, 0.1));
  }

  &.note {
    @include admonitionTitle(rgba(68, 138, 255, 0.1));
  }
  
  &.info {
    @include admonitionTitle(rgba(68, 138, 255, 0.1));
  }

  &.learn {
    @include admonitionTitle(transparent);

    background-color: #f7f7f7;
    border-radius: 5px;
    outline: none;

    .admonition-title {
      display: flex;
      gap: 12px;
      align-items: flex-start;
      border: none;
      @include addLearnIcon;

      &::before {
        margin-top: 2px;
      }
    }
  }

}

/* Card Stuff */

@mixin cardBase() {
  border-radius: 5px;
  box-shadow: 4px 4px 50px rgba(#000,.25);
  color: $cl-main-text;

  .content-wrapper {
    padding: 20px;
    
    h2 {
      font-size: $fs-bigger;
    }
  }
}

@mixin cardAddGradientTop($background, $head-space: 120px) {
  background: $background;

  .content-wrapper {
    background-color: white;
    clip-path: polygon(17% 0,100% 55%,100% 100%,0 100%,0 15%);
    margin-top: $head-space;
    
  }
}

@mixin hoverMove() {
  transform: translate(0);
  transition: transform .25s;

  &:hover {
    transform: translate(4px, -4px);
  }
}

a.link-tile {
  @include cardBase;
  @include hoverMove;

  &.blue-purple-top {
    @include cardAddGradientTop($blue-to-light-purple-grad);
  }

  &.blue-light-blue-top {
    @include cardAddGradientTop($blue-to-light-blue-grad);
  }
}

@mixin hamburgerMenu () {
  .hamburger-activate {
    cursor: pointer;
    display: none;

    &.opened {
      svg {
        rect {
          &:nth-of-type(1) {
            transform: rotate(45deg) translateY(0) translateX(0);
          }
          
          &:nth-of-type(2) {
            transform: rotate(405deg) translateY(0) translateX(0);
          }
          
          &:nth-of-type(3) {
            transform: rotate(-45deg) translateY(0) translateX(0);
          }
        }
      }
    }
  
    svg {
      height: 20px;

      rect {
        fill: $cl-header-bar-primary;
        transform: rotate(0) translateY(0) translateX(0);
        transition: transform 0.3s ease-in-out;
        
        &:nth-of-type(1) {
          transform-origin: 1em 2.75em;
        }
        
        &:nth-of-type(2) {
          transform-origin: 3.9em 4em;
        }
        
        &:nth-of-type(3) {
          transform-origin: 1em 4.75em;
        }
      }
    }

    @include mq-mobile {
      display: flex;
    }
  }
}

@mixin offsiteLinkIcon($color: white, $top: 4px) {
  $encodedColor: encodecolor($color);
  
  &[target="_blank"]:not(.no-away) {
    padding-right: 15px !important;
    display: inline-block;
    position: relative;
    &:after {
      transition: .25s;
      position: absolute;
      content: "";
      width: 9px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.58211 0H5.70405C5.47328 0 5.28626 0.187021 5.28626 0.417788C5.28626 0.648555 5.47328 0.835576 5.70405 0.835576H7.61992L3.51989 4.9356C3.35665 5.09874 3.35665 5.36332 3.51989 5.52646C3.60146 5.60803 3.70842 5.64887 3.81527 5.64887C3.92213 5.64887 4.02908 5.60803 4.11066 5.52646L8.16432 1.47269V3.29575C8.16432 3.52652 8.35135 3.71354 8.58211 3.71354C8.81288 3.71354 8.9999 3.52652 8.9999 3.29575V0.417788C8.9999 0.187021 8.81288 0 8.58211 0Z' fill='#{$encodedColor}'/%3E%3Cpath d='M7.13711 4.20733C6.90635 4.20733 6.71933 4.39435 6.71933 4.62512V7.92127C6.71933 8.07227 6.5918 8.19979 6.4408 8.19979H1.1141C0.9631 8.19979 0.835576 8.07227 0.835576 7.92127V2.59457C0.835576 2.44357 0.9631 2.31604 1.1141 2.31604H4.42189C4.65266 2.31604 4.83968 2.12902 4.83968 1.89826C4.83968 1.66749 4.65266 1.48047 4.42189 1.48047H1.1141C0.499761 1.48047 0 1.98023 0 2.59457V7.92127C0 8.53561 0.499761 9.03537 1.1141 9.03537H6.4408C7.05514 9.03537 7.5549 8.53561 7.5549 7.92127V4.62512C7.5549 4.39445 7.36788 4.20733 7.13711 4.20733Z' fill='#{$encodedColor}'/%3E%3C/svg%3E%0A");
      right: 0;
      top: $top;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.modal-iframe {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(#000,.25);

  &-close {
    position: absolute;
    right: calc(10vw - 55px);
    top: calc(10vh - 45px);
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    height: 44px;
    cursor: pointer;
  }

  iframe {
    margin: 10vh 10vw;
    width: 80vw;
    height: 80vh;
  }
}