
/* Code Fence styling */
pre[class*="language-"] {
  display: flex;

  button.copy-to-clipboard {
    margin-left: auto;
  }
}

/* Admonitions */
@mixin admonitionTitle($admonitionBg) {
  .admonition-title {
    //outline: black solid 1px;
    background-color: $admonitionBg;
    margin: 0 -9.6rem;
    padding: 6.4rem 9.6rem 6.4rem 32rem;
    border-bottom: .8rem solid rgba(68,138,255,.1);
    font-weight: 700;
  }
}

.admonition {
  outline: black solid 1px;
  margin: 25rem 0;
  padding: 0 9.6rem;
  border-radius: 1.6rem;
  // font-size: 10rem;
  overflow: auto;

  &.tip {
    @include admonitionTitle(rgba(0, 191, 165, 0.1));
  }

  &.note {
    @include admonitionTitle(rgba(68, 138, 255, 0.1));
  }

}

/* Card Stuff */

@mixin cardBase() {
  border-radius: 5rem;
  box-shadow: 4rem 4rem 50rem rgba(#000,.25);
  color: $cl-main-text;

  h2 {
    font-size: $fs-bigger;
  }
}

@mixin cardAddGradientTop($background, $head-space: 120px) {
  background: $background;

  .content-wrapper {
    background-color: white;
    clip-path: polygon(17% 0,100% 55%,100% 100%,0 100%,0 15%);
    margin-top: $head-space;
    padding: 20px;
  }
}

@mixin hoverMove() {
  transform: translate(0);
  transition: transform .25s;

  &:hover {
    transform: translate(4rem, -4rem);
  }
}

a.link-tile {
  @include cardBase;
  @include cardAddGradientTop($blue-to-light-purple-grad);
  @include hoverMove;

  &.blue-purple-top {
    @include cardAddGradientTop($blue-to-light-blue-grad);
  }
}