@import 'values';
@import 'fonts';
@import 'base-element-styles';

@import 'debug';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  @import 'header';
  @import 'widgets';

  .content-container {
    margin: 0 auto;
    width: 90%;
    max-width: $default-max-content-width;
  }

  #page-content-wrap {
    flex: 1 0 auto;

    // two section content, left side bar, main chunk on right.
    .default-page-layout {
      display: grid;
      grid-template-columns: 300px 1fr;
    }
  }

  #page-footer {
    flex-shrink: 0;
    min-height: 200px;
    background: #29DDD3;
    color: white; 
  }

  @import 'page-specific/home';
}
