@import 'debug';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;

  @import 'header';
  @import 'widgets';

  .content-container {
    margin: 0 auto;
    max-width: 1000px;
  }

  #page-content-wrap {
    flex: 1 0 auto;
    //Almost certainly wrong
    // padding: 20px; 
  }

  #page-footer {
    flex-shrink: 0;
    min-height: 200px;
    background: #3915ad url(/assets/hero-back.jpg);
    background-size: cover;
    background-position: 0 -890px; 
    background-attachment: fixed; 
  }

  @import 'page-specific/home';
}
